<div class="grid-container">
  <app-square
    *ngFor="let square of board; let i = index"
    [square]="square"
    [index]="i"
    (onClickSquare)="setSquare(i)"
  ></app-square>
    <select #difficulty (change)="setGameDifficulty(difficulty.value)" class="difficulty" *ngIf="round === 0 || !gameState">
      <option default selected disabled>Dificulty</option>
      <option>Easy</option>
      <option>Medium</option>
      <option>Hard</option>
    </select>


    <button class="resetButton" (click)="onResetGame()" *ngIf="!gameState">
      Reset Game
    </button>

</div>
